.App {
    font-family: sans-serif;
    text-align: center;
}

.container {
    height: 300px;
    border: 1px solid blue;
    margin-bottom: 20px;
    padding-left: 20px;
    text-align: center;
}

@media screen and (max-width: 250px) {
    .container {
        height: 200px;
        border: 1px solid black;
        margin-bottom: 10px;
    }
}